/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Forside: billede og skrift *********************/

.grid_1 {
  display: grid;
  grid-template-columns: 1fr; /*********** En kolone der fylder hele bredden ****************/
}

.pic1 {
  object-fit: cover; /*********** billedet fylder sin rette størrelse inden for boksen  ****************/
  grid-column: 1; /*********** placere elementet i kolonnen ****************/
  grid-row: 1; /*********** placere elementet i rækken ****************/
  margin-bottom: 4rem;
  height: 70vh;
}

.overskrift1 {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  background-color: rgba(33, 30, 30, 0.5);
  padding: 5px 5px;
}

/*************** Ommig: billede og skrift *********************/
.overskrift1-1 {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
}

.pic2 {
  object-fit: cover;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 3.5rem;
  height: 55vh;
}

/*************** Om mig: potræt af mig x2 *********************/
.ommig2 {
  display: flex;
  justify-content: center; /*************** Gør så billedet sidder i midten *********************/
}

@media screen and (min-width: 800px) {
  /*************** Forside: billede *********************/
  .pic1 {
    height: 90vh;
  }

  /*************** Forside: 2xbilledeogknap *********************/
  .grid_1-1 {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  /*************** Ommig: billede *********************/
  .pic2 {
    height: 80vh;
  }

  /*************** Ommig: billede og tekst ved siden af hinanden *********************/
  .grid_1-2 {
    display: flex;
    justify-content: center;
    align-items: center; /*********** går så det hele er centreret korrekt med tekst og billede (lodret) *****************/
    gap: 5rem;
  }

  .billedeogtekst {
    order: 1; /*************** ændre min rækkefølge i mit layout *************/
  }

  /*************** Om mig: 2x uddannelse bokse  *********************/
  .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    max-width: 900px; /* er med til at begrænse bredten på gridet altså gøres smallere */
    margin: 0 auto; /* centrer det hele samme afstand */
  }

  /*************** Projekter: 4x bokse  *********************/
  .grid_1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 8rem;
    max-width: 800px;
  }

  /*************** Projekter: indeni popuppen layout  *********************/

  .grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 700px;
  }
}
