/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--color-baggrundsfarve);
}

/*************** Primærfarver *********************/
:root {
  --color-baggrundsfarve: #fceee6;
  --color-footerfarve: #cb9c8b;
  --color-knapfarve-rammefarve: #ad6c54;
  --color-boksfarve: #f1cdb9;
}

/*************** Menu *********************/

/******* Menu: Logo *******/
.logo {
  width: 7rem;
  margin-top: 1rem;
}

/******* Menulayout ********/
header {
  position: sticky; /******* forbliver og følger siden ********/
  top: 0; /******* Hører sammen med sticky ( fast i toppen via scroll)  ********/
  background-color: var(--color-footerfarve);
  display: flex;
  justify-content: space-between; /******* placere første element helt til venstre og andet helt til højre ********/
  align-items: center;
}
.menu {
  display: flex; /******* menu punkterne kommer på række ********/
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.menu li {
  margin-right: 5px;
}

.menu li:last-child {
  margin-right: 2rem;
}

.menu a {
  display: block;
  padding: 10px 30px;
  color: white;
  background-color: var(--color-knapfarve-rammefarve);
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 1rem;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/*************** Forside: Skrift styling *********************/
.overskrift1 {
  color: white;
  font-size: 2rem;
  font-family: "Birthstone";
  font-weight: lighter;
}

/*************** Forside: Velkommenafsnit *********************/
.overskrift2 {
  font-family: "Playfair Display";
  font-size: 1.1rem;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.tekst {
  font-family: "Roboto";
  max-width: 65ch;
  font-size: 0.9rem;
  padding: 0 15px;
  font-weight: 300;
  margin: 0 auto; /* centrerer boksen af teksten så det står i midten */
  line-height: 1.5;
}

/*************** Forside: Læs mere afsnit *********************/
.overskrift3 {
  font-family: "Italianno";
  font-size: 2.2rem;
  font-weight: lighter;
  background-color: var(--color-boksfarve);
  padding: 15px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/*************** Forside: 2xbillederogknapper *********************/

.sektion {
  display: flex;
  flex-direction: column; /********** Lodret elementer ****************/
  align-items: center;
  margin-bottom: 3rem;
}

.ommig,
.projekter {
  border-radius: 80px 80px 0px 0px; /********** gør så den øverste højre og venstre kant får sin bue *************/
  width: 220px;
  overflow: hidden; /********** Indholdet ude for boksen bliver skjult ***************/
  border: 3px solid #ad6c54;
}

.picafmig {
  transform: scale(1); /********** Dens normale størrelse ****************/
  transition: 0.3s ease-in-out;
}

.ommig:hover .picafmig {
  transform: scale(1.2); /********** Dens nye størrelse (Zoom) ****************/
}

.picarbejdsprocess {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.projekter:hover .picarbejdsprocess {
  transform: scale(1.2);
}

.knap1,
.knap2 {
  margin-top: 1rem;
  background-color: var(--color-knapfarve-rammefarve);
  color: white;
  padding: 10px 30px;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}

.knap1:hover {
  background-color: #ae4a26;
}

.knap2:hover {
  background-color: #ae4a26;
}

/*************** Om mig: Overskrift *********************/
.overskrift1-1 {
  color: white;
  font-size: 2.8rem;
  font-family: "Birthstone";
  font-weight: lighter;
}

/*************** Om mig: potræt af mig x2 *********************/
.picafmig2 {
  border-radius: 80px 80px 0px 0px;
  width: 220px;
  overflow: hidden;
  border: 3px solid #ad6c54;
  margin-top: 1rem;
}

/*************** Om mig: Dropdown *********************/
.dropdown {
  display: flex;
  flex-direction: column; /****** Ligger under hinanden *******/
  margin-top: 2rem;
}

.dropdown_btn {
  background-color: transparent;
  border: none;
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  font-weight: lighter;
  transition-property: color; /******** Transformerer farven ************/
  transition-duration: 0.3s; /*************** hvor langt tid transiotion skal vare *********************/
}

.dropdown_btn:hover {
  color: var(--color-knapfarve-rammefarve);
}

.dropdown_btn::before {
  content: "❥";
  color: #cc582d;
  font-size: 1.1rem;
  margin: 0.5rem;
}

.dropdowntekst {
  display: none; /****** Teksten skjules først ********/
}

.dropdowntekst.show {
  display: block; /****** Teksten bliver synlig ********/
}

/*************** Om mig: 2x uddannelse bokse *********************/
.boks1 {
  border: 1.5px solid #ad6c54;
  padding: 30px;
  width: 270px;
  margin: 30px auto 20px auto; /****** 30px(top), auto(right, midten) 20px(bottom) auto(left,midten)  ********/
  border-radius: 2px;
}

.boks2 {
  border: 1.5px solid #ad6c54;
  padding: 30px;
  width: 270px;
  margin: 30px auto 20px auto;
  border-radius: 2px;
}

.liste {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 300;
}

.liste li::before {
  content: "-";
  margin: 0.2rem;
}

.liste li {
  margin-bottom: 0.5rem;
}

/*************** Om mig: overskrift4 *********************/
.overskrift4 {
  font-family: "Italianno";
  font-size: 2.2rem;
  font-weight: lighter;
  background-color: var(--color-boksfarve);
  padding: 15px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

/*************** Om mig: Værktøjer *********************/

.yderikoner {
  border: 1.5px solid #ad6c54;
  padding: 20px 20px;
  max-width: 500px;
  margin: 3rem auto; /***** top/bottom 3rem og venstre/højre auto (centrer)****/
}

.innerikoner {
  overflow: hidden; /***** Gør så figurerne ikke fortsætter udover min indrammede boks ****/
}

.animation {
  display: flex; /***** ligger sig på en række ****/
  gap: 0.5rem;
  animation: scroll 30s linear infinite; /***** linear (konstant hastighed) infinite (gentager hele tiden)****/
}

@keyframes scroll {
  from {
    transform: translateX(100%); /***** 100% af dens egen bredde (ikonerne starter udenfor boksen til højre)****/
  }
  to {
    transform: translateX(-50%); /***** 50% af dens bredde (halvdelen af ikonrækken er ude af boksen til venstre) ****/
  }
}

.animation:hover {
  animation-play-state: paused;
}

.innerikoner img {
  height: 55px;
  width: auto;
}

/*************** Projekter: 4x bokse *********************/

.boks {
  width: 350px;
  padding: 60px;
  margin: 2rem auto;
  border-radius: 20px;
  color: white;
  text-align: center;
}

.temaoverskrift {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  text-align: center;
  font-weight: lighter;
}

.emneskrift {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.9rem;
}

.pink {
  background-color: #e6b1bb;
}

.beige {
  background-color: #dcc0b2;
}

.brun {
  background-color: #f4d1bf;
}

.sort {
  background-color: #616161;
}

.cta_btn {
  background-color: white;
  border: 1px solid black;
  padding: 10px 15px;
  margin-top: 2rem;
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
}

.close_btn1 {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 15px;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
  color: white;
}

button {
  position: sticky;
  top: 0;
}

[popover]:popover-open {
  display: grid;
}

[popover] {
  padding: 1rem;
  max-height: 100vh;
  max-width: 1100px;
  width: 90vw; /*********** 90% af skærmens bredde *************/

  position: fixed; /*********** boksen er fast selvom du scroller *************/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*************** Gør så boksen kommer i midten på plads *************/
}

[popover]::backdrop {
  background: #0008;
  backdrop-filter: blur(5px);
}

.indhold1 {
  background-color: var(--color-baggrundsfarve);
  padding: 1rem;
  text-align: left;
}

.indhold2 {
  background-color: var(--color-baggrundsfarve);
  padding: 1rem;
  text-align: left;
}

.indhold3 {
  background-color: var(--color-baggrundsfarve);
  padding: 1rem;
  text-align: left;
}

.indhold4 {
  background-color: var(--color-baggrundsfarve);
  padding: 1rem;
  text-align: left;
}

/*************** Projekter: computerindhold i temaerne *********************/

.computerogindhold {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.computerramme {
  width: 100%;
  height: auto;
  position: relative; /********** gør så absolut elementet kan placere sig rigtigt ***********/
  z-index: 2; /********** Ligger foran elementet ***********/
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.computerindhold {
  position: absolute; /********** placeres rigtigt i computeren pga relative ***********/
  top: 2%;
  left: 10%;
  width: 80%;
  height: 88%;
  object-fit: cover;
  z-index: 1; /********** Ligger bag elementet ***********/
}

.tekst1 {
  font-family: "Roboto";
  max-width: 65ch;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 10px 20px;
  margin: 0 auto; /* centrerer boksen af teksten så det står i midten */
  line-height: 1.5;
}
.pic1layout,
.pic2layout {
  margin: 2rem auto;
  margin-top: 3rem;
}

.pic1layout img,
.pic2layout img {
  max-width: 300px;
  margin: 0 auto;
  border: 1.5px solid #ad6c54;
}

/*************** Projekter: iphoneindhold i tema02 *********************/
.iphoneogindhold {
  position: relative;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.iphoneramme {
  width: 100%;
  height: auto;
  display: block;
  position: relative; /********* ligger ovenpå containeren og gør så absolutelementet kan ligge indeni *************/
  z-index: 2; /*************** Ligger foran indholdet *************/
}

.iphoneindhold {
  position: absolute; /******* gør det muligt at placere elementerne inden i relativ (containeren) *************/
  top: 13%;
  left: 32%;
  width: 37%;
  height: 74%;
  object-fit: cover;
  z-index: 1; /*************** Ligger bag i rammen *************/
  border-radius: 15px;
}

/*************** Projekter: Hjerte knap x4 *********************/
.hjerte {
  text-align: center;
}

.websitelink {
  display: inline-block; /*************** Elementet opfører sig som tekst men styles som en boks *************/
  font-size: 5rem;
  text-decoration: none;
  color: #e6b1bb;
  transition: transform 0.4s ease;
}

.websitelink:hover {
  transform: scale(1.8);
}

.websitelink2 {
  display: inline-block;
  font-size: 5rem;
  text-decoration: none;
  color: #dcc0b2;
  transition: transform 0.4s ease;
}

.websitelink2:hover {
  transform: scale(1.8);
}

.websitelink3 {
  display: inline-block;
  font-size: 5rem;
  text-decoration: none;
  color: #f4d1bf;
  transition: transform 0.4s ease;
}

.websitelink3:hover {
  transform: scale(1.8);
}

.websitelink4 {
  display: inline-block;
  font-size: 5rem;
  text-decoration: none;
  color: #616161;
  transition: transform 0.4s ease;
}

.websitelink4:hover {
  transform: scale(1.8);
}

/*************** Projekter: Transitions popover *********************/

[popover] {
  opacity: 0; /************ ikke synlig ************/
  rotate: 180deg;
  transition: 0.5s allow-discrete; /************ pæn blød overgang ************/
}

:popover-open {
  opacity: 1; /************ synlig ************/
  rotate: none;
  @starting-style {
    opacity: 0;
    rotate: -180deg;
  }
}

/*************** Footer *********************/
.footer {
  background-color: var(--color-footerfarve);
  padding: 50px;
  display: flex;
}

.ommigknap,
.projekterknap {
  display: block;
  background-color: var(--color-knapfarve-rammefarve);
  color: white;
  padding: 10px 30px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
  font-size: 1rem;
}

.midten {
  display: flex;
  flex-direction: column; /* ligger lodret */
  align-items: center;
  margin: 0 auto;
}

.foelg {
  color: white;
  font-family: "Playfair Display";
  font-size: 1rem;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  margin-top: 130px;
}

.socialemedier {
  display: flex;
  gap: 16px;
}

.socialemedier img {
  width: 40px;
  height: auto;
  transition: transform 0.2s ease;
}

.socialemedier img:hover {
  transform: scale(1.5);
}

@media screen and (min-width: 800px) {
  /******* Menu: Logo *******/
  .logo {
    width: 12rem;
  }

  /*************** Overskrift over forsidebilledet *********************/
  .overskrift1 {
    font-size: 4.5rem;
  }

  /*************** Forside: Velkommenafsnit *********************/
  .overskrift2 {
    font-size: 1.6rem;
  }

  .tekst {
    font-size: 1.2rem;
    padding: 0 40px;
  }

  /*************** Forside: Læs mere afsnit *********************/
  .overskrift3 {
    font-size: 3.8rem;
  }

  /*************** Forside: 2xknapper *********************/
  .knap1,
  .knap2 {
    font-size: 1.2rem;
  }

  /*************** Footer *********************/
  .ommigknap,
  .projekterknap {
    font-size: 1.2rem;
  }

  .foelg {
    font-size: 1.2rem;
  }

  /*************** Om mig: Overskrift *********************/
  .overskrift1-1 {
    font-size: 4.8rem;
  }

  /*************** Om mig: overskrift4 *********************/
  .overskrift4 {
    font-size: 3.2rem;
  }

  /*************** Om mig: dropdown skriftx2 *********************/
  .dropdown_btn {
    font-size: 1.5rem;
  }

  /*************** Om mig: uddannelse x2bokse *********************/
  .liste {
    font-size: 1.2rem;
  }

  .boks1 {
    padding: 50px;
    width: 400px;
  }

  .boks2 {
    padding: 50px;
    width: 400px;
  }

  /*************** Om mig: Værktøjer *********************/

  .yderikoner {
    padding: 30px 20px;
    max-width: 1000px;
  }

  .innerikoner {
    gap: 1rem;
  }

  .innerikoner img {
    height: 70px;
    width: auto;
  }

  /*************** Projekter: Skrifter x4bokse *********************/

  .temaoverskrift {
    font-size: 1.7rem;
  }

  .emneskrift {
    font-size: 1.3rem;
  }

  .cta_btn {
    font-size: 1.1rem;
  }

  .close_btn1 {
    font-size: 1.1rem;
  }

  /*************** Projekter: boks Teme02 *********************/
  .computerogindhold {
    width: 100%;
    max-width: 370px;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .iphoneogindhold {
    width: 100%;
    max-width: 370px;
  }

  .tekst1 {
    font-size: 1.2rem;
  }
}

/*************** Menulayout *********************/

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--color-footerfarve);
    position: absolute;
    top: 85px;
    right: 0;
    width: auto;
  }

  nav.active .menu li {
    margin: 20px;
  }

  nav.active .menu a {
    font-size: 1rem;
  }
}
