/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--color-baggrundsfarve);
}

/*************** Primærfarver *********************/
:root {
  --color-baggrundsfarve: #fceee6;
  --color-footerfarve: #cb9c8b;
  --color-knapfarve-rammefarve: #ad6c54;
  --color-boksfarve: #f1cdb9;
}

/*************** Forside: Skrift styling *********************/
.overskrift1 {
  color: #ffffff;
  font-size: 3rem;
  font-family: "Birthstone";
  font-weight: lighter;
}

/*************** Forside: Velkommenafsnit *********************/
.overskrift2 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  text-align: center;
  font-weight: lighter;
}

.tekst {
  font-family: "Roboto";
  max-width: 65ch;
  padding: 25px;
  font-weight: 300;
  margin: 0 auto; /* centrerer boksen af teksten så det står i midten */
}

/*************** Forside: Læs mere afsnit *********************/
.overskrift3 {
  font-family: "Birthstone";
  font-size: 2.2rem;
  font-weight: lighter;
  background-color: var(--color-boksfarve);
  padding: 15px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/*************** Forside: 2xbillederogknapper *********************/

.sektion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.ommig,
.projekter {
  border-radius: 80px 80px 0px 0px;
  width: 220px;
  overflow: hidden;
  border: 3px solid #ad6c54;
}

.knap1,
.knap2 {
  margin-top: 1rem;
  background-color: var(--color-knapfarve-rammefarve);
  color: white;
  padding: 10px 30px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
}

/*************** Om mig: potræt af mig x2 *********************/
.ommig2 {
  display: flex;
  justify-content: center; /*************** Gør så billedet sidder i midten *********************/
}
.picafmig {
  border-radius: 80px 80px 0px 0px;
  width: 220px;
  overflow: hidden;
  border: 3px solid #ad6c54;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

/*************** Om mig: Dropdown *********************/
.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.dropdown_btn {
  background-color: transparent;
  color: #000;
  border: none;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: lighter;
  transition-property: color; /******** Hvad: altså hvilken skal den transformere her farven ************/
  transition-duration: 0.3s; /*************** hvor langt tid transiotion skal vare *********************/
}

.dropdown_btn:hover {
  color: var(--color-knapfarve-rammefarve);
}

.dropdown_btn::before {
  content: "❥";
  color: #cc582d;
  font-size: 1.1rem;
  margin: 0.5rem;
}

.dropdowntekst {
  display: none; /****** Teksten inden i knappen forsvinder ********/
}

.dropdowntekst.show {
  display: block;
}

/*************** Om mig: 2x uddannelse bokse *********************/
.boks1 {
  border: 1.5px solid #ad6c54;
  padding: 30px;
  width: 270px;
  margin-bottom: 2rem;
  margin: 0 auto 1.5rem;
  border-radius: 2px;
}

.liste {
  list-style: none;
  padding: 0;
  margin: 0;
}

.liste li::before {
  content: "-";
  margin: 0.2rem;
}

.liste li {
  margin-bottom: 0.6rem;
}

/*************** Om mig: Værktøjer *********************/

.scroll {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.scrollinner {
  display: flex;
  width: calc(200%);
  animation: scroll 15s linear infinite;
}

.scrollinner img {
  height: 100px;
  margin-right: 20px;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrollinner:hover {
  animation-play-state: paused;
}

/*************** Footer *********************/
.footer {
  background-color: var(--color-footerfarve);
  padding: 50px;
}

.ommigknap,
.projekterknap {
  display: block;
  width: fit-content; /* tilpasser knappens bredde som til teksten */
  background-color: var(--color-knapfarve-rammefarve);
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

.midten {
  display: flex;
  flex-direction: column; /* ligger lodret */
  align-items: center;
}

.foelg {
  color: white;
  font-family: "Playfair Display";
  font-size: 1rem;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}

.socialemedier {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.socialemedier img {
  width: 40px;
  height: auto;
}

@media screen and (min-width: 800px) {
  /*************** Overskrift over forsidebilledet *********************/
  .overskrift1 {
    font-size: 4rem;
  }
}

.tekst {
  margin: 0 auto; /* centrerer boksen af teksten så det står i midten */
}

.scrollinner img {
  height: 120px;
  width: auto;
}
