/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--color-baggrundsfarve);
}

/*************** Primærfarver *********************/
:root {
  --color-baggrundsfarve: #fceee6;
  --color-footerfarve: #cb9c8b;
  --color-knapfarve-rammefarve: #ad6c54;
  --color-boksfarve: #f1cdb9;
}

/*************** Forside skrift styling *********************/
.overskrift1 {
  color: #ffffff;
  font-size: 3rem;
  font-family: "Birthstone";
  font-weight: lighter;
}

/*************** Næste afsnit: Velkommen *********************/
.overskrift2 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  text-align: center;
  font-weight: lighter;
}

.tekst {
  font-family: "Roboto";
  max-width: 65ch;
  padding: 25px;
  font-weight: 300;
  margin: 0 auto; /* centrerer boksen af teksten så det står i midten */
}

/*************** Næste afsnit: Læs mere *********************/
.overskrift3 {
  font-family: "Birthstone";
  font-size: 2.2rem;
  font-weight: lighter;
  background-color: var(--color-boksfarve);
  padding: 15px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/*************** To billeder og tilhørene knapper *********************/

.sektion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.ommig,
.projekter {
  border-radius: 80px 80px 0px 0px;
  width: 220px;
  overflow: hidden;
  border: 3px solid #ad6c54;
}

.knap1,
.knap2 {
  margin-top: 1rem;
  background-color: var(--color-knapfarve-rammefarve);
  color: white;
  padding: 10px 30px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
}

/*************** Footer *********************/
.footer {
  background-color: var(--color-footerfarve);
  padding: 50px;
}

.ommigknap,
.projekterknap {
  display: block;
  width: fit-content; /* tilpasser knappens bredde som til teksten */
  background-color: var(--color-knapfarve-rammefarve);
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

.midten {
  display: flex;
  flex-direction: column; /* ligger lodret */
  align-items: center;
}

.foelg {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}

.socialemedier {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.socialemedier img {
  width: 40px;
  height: auto;
}

@media screen and (min-width: 800px) {
  /*************** Overskrift over forsidebilledet *********************/
  .overskrift1 {
    font-size: 4rem;
  }
}

.tekst {
  margin: 0 auto; /* centrerer boksen af teksten så det står i midten */
}
