/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--color-baggrundsfarve);
}

/*************** Primærfarver *********************/
:root {
  --color-baggrundsfarve: #fceee6;
  --color-footerfarve: #ad6c54;
  --color-knapfarve-rammefarve: #ad6c54;
  --color-boksfarve: #ad6c54;
}

/*************** Forside skrift styling *********************/
.overskrift1 {
  color: #ffffff;
  font-size: 3rem;
  font-family: "Birthstone";
}

/*************** Næste afsnit: Velkommen *********************/
.overskrift2 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.tekst {
  font-family: "Roboto";
  width: 380px;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .overskrift1 {
    font-size: 4rem;
  }
}
