/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--color-baggrundsfarve);
}

/*************** Primærfarver *********************/
:root {
  --color-baggrundsfarve: #fceee6;
  --color-footerfarve: #cb9c8b;
  --color-knapfarve-rammefarve: #ad6c54;
  --color-boksfarve: #f1cdb9;
}

/*************** Menu *********************/

/******* Menu: Logo *******/
.logo {
  width: 8rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/******* Menulayout ********/
header {
  position: sticky;
  top: 0;
  background-color: var(--color-footerfarve);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.menu li {
  margin-right: 5px;
}

.menu li:last-child {
  margin-right: 2rem;
}

.menu a {
  display: block;
  padding: 10px 30px;
  color: white;
  background-color: var(--color-knapfarve-rammefarve);
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 1rem;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.knapheader a:hover {
  color: #ba6028;
}

/*************** Forside: Skrift styling *********************/
.overskrift1 {
  color: #ffffff;
  font-size: 3rem;
  font-family: "Birthstone";
  font-weight: lighter;
}

/*************** Forside: Velkommenafsnit *********************/
.overskrift2 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  text-align: center;
  font-weight: lighter;
}

.tekst {
  font-family: "Roboto";
  max-width: 65ch;
  padding: 25px;
  font-weight: 300;
  margin: 0 auto; /* centrerer boksen af teksten så det står i midten */
}

/*************** Forside: Læs mere afsnit *********************/
.overskrift3 {
  font-family: "Parisienne";
  font-size: 2.2rem;
  font-weight: lighter;
  background-color: var(--color-boksfarve);
  padding: 15px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/*************** Forside: 2xbillederogknapper *********************/

.sektion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.ommig,
.projekter {
  border-radius: 80px 80px 0px 0px;
  width: 220px;
  overflow: hidden;
  border: 3px solid #ad6c54;
}

.knap1,
.knap2 {
  margin-top: 1rem;
  background-color: var(--color-knapfarve-rammefarve);
  color: white;
  padding: 10px 30px;
  font-family: "Playfair Display", serif;
}

.knap1:hover {
  background-color: #cc582d;
}

.knap2:hover {
  background-color: #cc582d;
}

/*************** Om mig: potræt af mig x2 *********************/
.ommig2 {
  display: flex;
  justify-content: center; /*************** Gør så billedet sidder i midten *********************/
}
.picafmig2 {
  border-radius: 80px 80px 0px 0px;
  width: 220px;
  overflow: hidden;
  border: 3px solid #ad6c54;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

/*************** Om mig: Dropdown *********************/
.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.dropdown_btn {
  background-color: transparent;
  color: #000;
  border: none;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: lighter;
  transition-property: color; /******** Hvad: altså hvilken skal den transformere her farven ************/
  transition-duration: 0.3s; /*************** hvor langt tid transiotion skal vare *********************/
}

.dropdown_btn:hover {
  color: var(--color-knapfarve-rammefarve);
}

.dropdown_btn::before {
  content: "❥";
  color: #cc582d;
  font-size: 1.1rem;
  margin: 0.5rem;
}

.dropdowntekst {
  display: none; /****** Teksten inden i knappen forsvinder ********/
}

.dropdowntekst.show {
  display: block;
}

/*************** Om mig: 2x uddannelse bokse *********************/
.boks1 {
  border: 1.5px solid #ad6c54;
  padding: 30px;
  width: 270px;
  margin-bottom: 2rem;
  margin: 0 auto 1.5rem;
  border-radius: 2px;
}

.liste {
  list-style: none;
  padding: 0;
  margin: 0;
}

.liste li::before {
  content: "-";
  margin: 0.2rem;
}

.liste li {
  margin-bottom: 0.6rem;
}

/*************** Om mig: overskrift4 *********************/
.overskrift4 {
  font-family: "Parisienne";
  font-size: 2.2rem;
  font-weight: lighter;
  background-color: var(--color-boksfarve);
  padding: 15px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

/*************** Om mig: Værktøjer *********************/

.scroll {
  overflow: hidden;
  width: 100%;
}

.scrollinner {
  display: flex; /********* Placeres vandret som en række efter hinanden **********/
  width: 200%; /********* gør at boksene er dobbelt så bred som containeren **********/
  animation: scroll 10s linear infinite;
}

.scrollinner img {
  height: 80px;
  width: auto;
  margin-right: 20px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.scrollinner:hover {
  animation-play-state: paused;
}

/*************** Projekter: 4x bokse *********************/

.boks {
  width: 350px;
  padding: 60px;
  margin: 2rem auto;
  border-radius: 20px;
  color: white;
  text-align: center;
}

.temaoverskrift {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  text-align: center;
  font-weight: lighter;
}

.emneskrift {
  font-family: "Roboto";
  font-weight: 300;
}

.pink {
  background-color: #e6b1bb;
}

.beige {
  background-color: #dfcdc3;
}

.brun {
  background-color: #99726d;
}

.sort {
  background-color: #616161;
}

.cta_btn {
  background-color: white;
  border: 1px solid black;
  padding: 10px 15px;
  margin-top: 2rem;
  font-family: "Playfair Display", serif;
}

.close_btn1 {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 15px;
  margin-top: 2rem;
  font-family: "Playfair Display", serif;
  color: white;
}

button {
  position: sticky;
  top: 0;
  justify-self: end;
}

&:popover-open {
  display: grid;
}

[popover] {
  padding: 1rem;
  max-height: 100vh;
  max-width: 1000px;
  width: 90vw;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*************** Gør så boksen kommer i midten på plads *************/
}

&::backdrop {
  background: #0008;
}

.indhold1 {
  background-color: var(--color-baggrundsfarve);
  padding: 1rem;
  text-align: left;
}

.indhold2 {
  background-color: var(--color-baggrundsfarve);
  padding: 1rem;
  text-align: left;
}

.indhold3 {
  background-color: var(--color-baggrundsfarve);
  padding: 1rem;
  text-align: left;
}

.indhold4 {
  background-color: var(--color-baggrundsfarve);
  padding: 1rem;
  text-align: left;
}
/*************** Projekter: indhold i tema02 *********************/

.computerogindhold {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.computerramme {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2;
}

.computerindhold {
  position: absolute;
  top: 2%;
  left: 10%;
  width: 80%;
  height: 88%;
  object-fit: cover;
  z-index: 1;
}

.pic1layout,
.pic2layout {
  width: 70%;
  display: block;
  margin: 0 auto 1rem;
  border: 1.5px solid #ad6c54;
}

/*************** Projekter: indhold i tema03 *********************/

/*************** Footer *********************/
.footer {
  background-color: var(--color-footerfarve);
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ommigknap,
.projekterknap {
  display: block;
  width: fit-content; /* tilpasser knappens bredde som til teksten */
  background-color: var(--color-knapfarve-rammefarve);
  color: white;
  padding: 10px 30px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

.midten {
  display: flex;
  flex-direction: column; /* ligger lodret */
  align-items: center;
  margin: 0 auto;
}

.foelg {
  color: white;
  font-family: "Playfair Display";
  font-size: 1rem;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  margin-top: 130px;
}

.socialemedier {
  display: flex;
  gap: 16px;
}

.socialemedier img {
  width: 40px;
  height: auto;
}

@media screen and (min-width: 800px) {
  /*************** Overskrift over forsidebilledet *********************/
  .overskrift1 {
    font-size: 4rem;
  }

  /*************** Projekter: boks Teme02 *********************/
  .computerogindhold {
    width: 450px;
  }
}

/*************** Menulayout *********************/

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--color-footerfarve);
    position: absolute;
    top: 130px;
    right: 0;
    width: auto;
  }

  nav.active .menu li {
    margin: 20px;
  }

  nav.active .menu a {
    font-size: 1rem;
  }
}
